
 body{
  background-image: url(biblio.jpg) ; 
  background-size: cover;
  background-repeat: no-repeat;
  flex-wrap: wrap;
 }

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 500px;
  margin-left: 380px;
  backdrop-filter: blur(5px);
  background-color: rgba(84, 209, 111, 0.4);
}
h1,h4{
  color:red;
  text-align: center;
  font-weight: bolder;
}
h3{
  color: #F94C10;
  text-align: center;
  font-weight: bolder;

}

.btn {
  display: flex;
  justify-content:space-around;
}
button {
  background-color: rgba(40, 94, 4, 0.5);
  color: red;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  font-weight: bolder;
  border: 2px solid rgb(14, 122, 65);
  backdrop-filter: blur(15px);
  border-radius: 50px;

  
}